# Virtual environments
.venv/
venv/
env/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Environment variables / secrets
.env
.env.*

# Jupyter Notebook
.ipynb_checkpoints/

# VS Code
.vscode/

# Python build / packaging
build/
dist/
*.egg-info/

# PyInstaller
*.spec

# Testing / coverage
.pytest_cache/
.coverage
htmlcov/

# Ruff / mypy
.mypy_cache/
.ruff_cache/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log